@using ADTO.DCloud
@using ADTO.DCloud.Authorization
@using ADTO.DCloud.Web.Common
@using ADTOSharp.Web.Security.AntiForgery
@using Microsoft.AspNetCore.Http
@model ADTO.AuthServer.Models.Ui.HomePageModel

@inject IADTOSharpAntiForgeryManager AntiForgeryManager
@{
    AntiForgeryManager.SetCookie(Context, cookieOptions: new CookieOptions()
    {
        SameSite = SameSiteMode.Strict,
        Secure = true
    });
}
<head>
    <title>AuthServer</title>

    <link href="~/view-resources/Views/Ui/Index.css" rel="stylesheet" asp-append-version="true"/>
</head>
<div class="main-content">
    <div class="user-name">@L("YouAreAlreadyLoggedInWithUser") : @Html.Raw(Model.GetShownLoginName())</div>
    <div>
        <ul class="content-list">
            @if (WebConsts.SwaggerUiEnabled)
            {
                <li><a href="@WebConsts.SwaggerUiEndPoint">Swagger UI</a></li>
            }
        </ul>
    </div>
    <div class="logout">
        <a href="@Url.Action("Logout", "Ui", new {area = string.Empty})">@L("Logout")</a>
    </div>
</div>